HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# General
.DS_Store
.AppleDouble
.LSOverride

### Maven template
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### DevOps ###
pom.xml.versionsBackup